
/* no entiendo muy bien que pedo aqui lo saque de una paguina pero es elmeu desplegable seguro con mas tiempo le encuentro logica*/
ul.indice,
ul.indice * {
margin: 0;
padding: 0;
border: 0;
}
ul.indice {
margin: 10px auto;
padding: 0;
list-style: none;
width: 100%;
font-size: 18px;
}
ul.indice li {
list-style: none;
}
ul.indice li a {
display: block;
padding: 10px 10px 10px 20px;
background: #333;
color: #eee;
border-bottom: 1px solid #000;
border-top: 1px solid #666;
text-decoration: none;
box-sizing: border-box;
}
ul.indice li ul {
max-height: 0;
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
transition: .3s all ease-in;
}
ul.indice li li a {
padding: 10px 10px 10px 40px;
background: #999;
color: #000;
font-size: 16px;
border: 0;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
}
ul.indice li li:last-child a {
border-bottom: 0;
}
ul.indice li:hover ul {
max-height: 300px;
transition: .3s all ease-in;
}
ul.indice li a:hover {
background: #666;
color: #fff;
}
/*hasta aqui llega el menu desplegable que sabra dios como lo hice */

.seccion_de_detalle{
    display: flex;
    margin: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.listaDeJuegos {
    display: flex;
    
}
.listaArticulosJUegos {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 5px;
}

.listaArticulosJUegos img{
    width: 100%;
}